MPartnerV2/Service References/OtpClient/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendsms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mess" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="employee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendsmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendsmsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendsmsIMI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mess" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgtype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reftext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendsmsIMIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendsmsIMIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendsmsSoapIn">
    <wsdl:part name="parameters" element="tns:sendsms" />
  </wsdl:message>
  <wsdl:message name="sendsmsSoapOut">
    <wsdl:part name="parameters" element="tns:sendsmsResponse" />
  </wsdl:message>
  <wsdl:message name="sendsmsIMISoapIn">
    <wsdl:part name="parameters" element="tns:sendsmsIMI" />
  </wsdl:message>
  <wsdl:message name="sendsmsIMISoapOut">
    <wsdl:part name="parameters" element="tns:sendsmsIMIResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="sendsms">
      <wsdl:input message="tns:sendsmsSoapIn" />
      <wsdl:output message="tns:sendsmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendsmsIMI">
      <wsdl:input message="tns:sendsmsIMISoapIn" />
      <wsdl:output message="tns:sendsmsIMISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendsms">
      <soap:operation soapAction="http://tempuri.org/sendsms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendsmsIMI">
      <soap:operation soapAction="http://tempuri.org/sendsmsIMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendsms">
      <soap12:operation soapAction="http://tempuri.org/sendsms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendsmsIMI">
      <soap12:operation soapAction="http://tempuri.org/sendsmsIMI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://ser.luminousindia.com/smsservice/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://ser.luminousindia.com/smsservice/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>